.empty{
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.877) 0%, rgba(2, 2, 2, 0.192) 100%),
     url('../assets/img/bgimage.jpg');
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.welcome{
    p{
        font-family: 'Lato', sans-serif;
        font-size: 15px;
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
    }
}

.formSec{
    label{
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
}