.logo{
    height: 40px;
}

li {
    /* color: orange; */
    font-size: 15px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 40vh;


    P{
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
    }

    ul{
        font-family: 'Raleway', sans-serif;
    }
    li{
        margin: 10px 0px;
    }
    h3{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .Bold{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
}