.tText{
    h1{
        font-size: 40px;
        // font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    P{
        font-family: 'Raleway', sans-serif;
    }
}


.headingSec{
       
    h1{
        font-size: 60px;
        font-family: 'Poppins', sans-serif;

    }
    p{
        font-family: 'Raleway', sans-serif;
    }
}

.svgCont{
        display: flex;
        align-items: center;
        justify-content: center;
    }
