/* poppins font 
 font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


/* raleway font
 font-family: 'Raleway', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');


/* lato font
font-family: 'Lato', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');
